<main class={{style.container}}>
  <h1 class={{style.title}}>Регистрация</h1>
  <form class={{style.inputs}}>
    {{{mailInput}}}
    {{{loginInput}}}
    {{{nameInput}}}
    {{{surnameInput}}}
    {{{phoneInput}}}
    {{{passwordInput}}}
    {{{passwordRetryInput}}}
  </form>
  {{{registerBtn}}}
  {{{authBtn}}}
</main>
