<div class={{style.container}}>
  <h1 class={{style.title}}>Регистрация</h2>
  <div class={{style.inputs}}>
    {{{mailInput}}}
    {{{loginInput}}}
    {{{nameInput}}}
    {{{surnameInput}}}
    {{{phoneInput}}}
    {{{passwordInput}}}
    {{{passwordRetryInput}}}
  </div>
  <a href="/messenger" class={{style.authBtn}}>Создать профиль</a>
  <a href="/auth" class={{style.register}}>Войти</a>
</div>