<div class={{style.container}}>
  <h1 class={{style.title}}>Регистрация</h2>
  <div class={{style.inputs}}>
    {{{mailInput}}}
    {{{loginInput}}}
    {{{nameInput}}}
    {{{surnameInput}}}
    {{{phoneInput}}}
    {{{passwordInput}}}
    {{{passwordRetryInput}}}
  </div>
  {{{registerBtn}}}
  {{{authBtn}}}
</div>