<div class={{style.floatingLabelGroup}}>
  <input
    type={{type}}
    id={{id}}
    class="{{style.formControl}} {{#if error}}{{style.redLine}}{{/if}}"
    autocomplete="off"
    {{#if value}}
      value="{{value}}"
    {{/if}}
    {{#if placeholder}}
      placeholder={{placeholder}}
    {{/if}}

    {{#if autofocus}}
      autofocus="autofocus"
    {{/if}}

    {{#if required}}
      required="required"
    {{/if}}
  />
  {{#if label}}
    <label class={{style.floatingLabel}} for={{id}}>{{label}}</label>
  {{/if}}
  {{#if error}}
    <span class={{style.error}}>{{error}}</span>
  {{/if}}
</div>