<div class={{style.floatingLabelGroup}}>
  <input
    type={{type}}
    id={{id}}
    class={{style.formControl}}
    autocomplete="off"

    {{#if autofocus}}
      autofocus="autofocus"
    {{/if}}

    {{#if required}}
      required="required"
    {{/if}}
  />
  <label class={{style.floatingLabel}} for={{id}}>{{label}}</label>
</div>