<main class="{{style.container}}">
  <form class={{style.info}}>
    {{{oldPassword}}}
    {{{newPassword}}}
  </form>

  <div class="{{style.buttons}}">
    {{{saveButton}}}
    {{{backLink}}}
  </div>
</main>
