<div class={{style.container}}>
  <div class={{style.recipient}}>
    <div class={{style.recipientContainer}}>
      <div class={{style.userInfo}}>
        <div class={{style.avatar}}></div>
        <h3 class={{style.userName}}>
          Вадим
        </h3>
      </div>
      <div class={{style.settings}}>
        <img src={{dots}} alt="" />
      </div>
    </div>
    <hr />
  </div>
  <div class={{style.chat}}>
    {{! Пока не знаю как делать }}
  </div>
  <div class={{style.sendMessage}}>
    <hr />
    <div class={{style.inputs}}>
      <div class={{style.file}}>
        <img src={{clip}} alt="clip" />
      </div>
      <div class={{style.text}}>
        <input type="text" placeholder="Сообщение" />
      </div>
      <div class={{style.sendArrow}}>
        <img src={{sendArrow}} alt="send message" />
      </div>
    </div>
  </div>
</div>