<div class={{style.container}}>
  <div class={{style.recipient}}>
    <div class={{style.recipientContainer}}>
      <div class={{style.userInfo}}>
        <div class={{style.avatar}}></div>
        <h3 class={{style.userName}}>
          Вадим
        </h3>
      </div>
      <div class={{style.settings}}>
        <img src={{dots}} alt="" />
      </div>
    </div>
    <hr />
  </div>
  <div class={{style.chat}}>
    <span class={{style.date}}>
      19 июля
    </span>
    <div class="{{style.messageContainer}} {{style.from}}">
      <p class={{style.messageText}}>
        Привет! Смотри, тут всплыл интересный кусок лунной космической истории —
        НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для
        полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500
        EL — и к слову говоря, все тушки этих камер все еще находятся на
        поверхности Луны, так как астронавты с собой забрали только кассеты с
        пленкой. Хассельблад в итоге адаптировал SWC для космоса, но что-то
        пошло не так и на ракету они так никогда и не попали. Всего их было
        произведено 25 штук, одну из них недавно продали на аукционе за 45000
        евро.
      </p>
      <time class={{style.messageTime}}>11:56</time>
    </div>
    <div class="{{style.messageContainer}} {{style.to}}">
      <p class={{style.messageText}}>
        Круто!
      </p>
      <time class={{style.messageTime}}>12:00</time>
    </div>
  </div>
  <div class={{style.sendMessage}}>
    <hr />
    <div class={{style.inputs}}>
      <div class={{style.file}}>
        <img src={{clip}} alt="clip" />
      </div>
      <div class={{style.text}}>
        <input type="text" placeholder="Сообщение" />
      </div>
      <div class={{style.sendArrow}}>
        <img src={{sendArrow}} alt="send message" />
      </div>
    </div>
  </div>
</div>