<div class={{style.container}}>
  {{#if state.chat}}
    <div class={{style.recipient}}>
      <div class={{style.recipientContainer}}>
        <div class={{style.userInfo}}>
          {{#if this.selectedChat.avatar}}
            <div class="{{style.avatar}}">
              <img src="{{this.selectedChat.avatar}}" alt="avatar">
            </div>
          {{else}}
            <div class={{style.avatar}}></div>
          {{/if}}
          <h3 class={{style.userName}}>
            {{this.selectedChat.title}}
          </h3>
        </div>
        <div class={{style.settings}}>
          <img src={{dots}} alt=""/>
        </div>
      </div>
      <hr/>
    </div>
    <div class={{style.chat}}>
      {{#each state.chat}}
        <div class="{{../style.messageContainer}}
          {{#ifEquals this.user_id ../state.userId}}{{../style.to}}{{else}}{{../style.from}}{{/ifEquals}}">
          <p class={{../style.messageText}}>
            {{this.content}}
          </p>
          <time class={{../style.messageTime}}>{{#convertTime 'time'}}{{this.time}}{{/convertTime}}</time>
        </div>
      {{/each}}
    </div>
    <div class={{style.sendMessage}}>
      <hr/>
      <div class={{style.inputs}}>
        <div class={{style.file}}>
          <img src={{clip}} alt="clip"/>
        </div>
        <div class={{style.text}}>
          {{{messageInput}}}
        </div>
        <div class={{style.sendArrow}}>
          {{{sendArrow}}}
        </div>
      </div>
    </div>
  {{else}}
    <div class="{{style.empty}}">
      <h2>Выберите чат чтобы начать общение</h2>
    </div>
  {{/if}}
</div>
