<div class={{style.container}}>
  <nav class={{style.navigation}}>
    {{{authLink}}}
    {{{registerLink}}}
    {{{messengerLink}}}
    {{{profileLink}}}
    {{{notFoundLink}}}
    {{{errorLink}}}
  </nav>
</div>