<div class={{style.container}}>
  <h1 class={{style.title}}>Вход</h1>
  <form class={{style.inputs}}>
    {{{loginInput}}}
    {{{passwordInput}}}
  </form>
  {{{authLink}}}
  {{{registerLink}}}
</div>
