<div class={{style.container}}>
  <h2 class={{style.title}}>Вход</h2>
  <div class={{style.inputs}}>
    {{{loginInput}}}
    {{{passwordInput}}}
  </div>
  <a href="/messenger" class={{style.authBtn}}>Войти</a>
  <a href="/register" class={{style.register}}>Зарегистрироваться</a>
</div>