<div class={{style.container}}>
  <h1 class={{style.title}}>Вход</h2>
  <div class={{style.inputs}}>
    {{{loginInput}}}
    {{{passwordInput}}}
  </div>
  {{{authBtn}}}
  <a href="/register" class={{style.register}}>Зарегистрироваться</a>
</div>