<div class={{style.container}}>
  {{{profileLink}}}
  <div class={{style.search}}>
    <label>
      <input type="text" placeholder="Поиск" required>
    </label>
  </div>
  <div class="{{style.btnWrapper}}">
    {{{createChatButton}}}
  </div>
  <ul class={{style.list}}>
    <hr/>
    {{#each state.chatsList}}
      <li class="{{../style.item}} {{#ifEquals ../state.selectedChatId this.id }}{{../style.selected}}{{/ifEquals}}">
        <div class="{{../style.messageContainer}}" data-chat-id="{{this.id}}"></div>
        <div class={{../style.avatar}}></div>
        <div class={{../style.message}}>
          <h3 class={{../style.name}}>{{this.title}}</h3>
          <span class={{../style.messageText}}>{{this.last_message.content}}</span>
        </div>
        <div class={{../style.info}}>
          <time class={{../style.time}}>{{#convertTime
            'last_message.time'}}{{this.last_message.time}}{{/convertTime}}</time>
          {{#if this.unread_count}}
            <span class={{../style.messageCount}}>{{this.unread_count}}</span>
          {{/if}}
        </div>
      </li>
      <hr/>
    {{/each}}
  </ul>
</div>
