<div class={{style.container}}>
  {{{profileLink}}}
  <div class={{style.search}}>
    <label>
      <input type="text" placeholder="Поиск" required>
    </label>
  </div>
  <ul class={{style.list}}>
    <hr/>
    {{#each chats}}
      <li class={{../style.item}}>
        <div class={{../style.avatar}}></div>
        <div class={{../style.message}}>
          <h3 class={{../style.name}}>{{name}}</h3>
          <span class={{../style.messageText}}>{{text}}</span>
        </div>
        <div class={{../style.info}}>
          <time class={{../style.time}}>{{time}}</time>
          <span class={{../style.messageCount}}>{{unread}}</span>
        </div>
      </li>
      <hr/>
    {{/each}}
  </ul>
</div>
