<div class={{style.container}}>
  <div class={{style.avatar}}>
    {{{avatar}}}
  </div>
  <h4 class={{style.name}}>{{titleName}}</h4>
  <div class={{style.info}}>
    {{{email}}}
    <hr/>

    {{{login}}}
    <hr/>

    {{{name}}}
    <hr/>

    {{{surname}}}
    <hr/>

    {{{nickname}}}
    <hr/>

    {{{phone}}}
  </div>

  <div class="{{style.info}} {{style.actions}}">
    <div class={{style.item}}>
      {{{editDataBtn}}}
    </div>
    <hr/>

    <div class={{style.item}}>
      {{{editPasswordBtn}}}
    </div>
    <hr/>

    <div class={{style.item}}>
      {{{exitBtn}}}
    </div>
  </div>
</div>
