<div class={{style.container}}>
  <div class={{style.avatar}}>
    {{{avatar}}}
  </div>
  <h4 class={{style.name}}>{{name}}</h4>
  <div class={{style.info}}>
    <div class={{style.item}}>
      <div class={{style.key}}>
        Почта
      </div>
      <div class={{style.value}}>{{email}}</div>
    </div>
    <hr />
    <div class={{style.item}}>
      <div class={{style.key}}>
        Логин
      </div>
      <div class={{style.value}}>{{login}}</div>
    </div>
    <hr />

    <div class={{style.item}}>
      <div class={{style.key}}>
        Имя
      </div>
      <div class={{style.value}}>{{name}}</div>
    </div>
    <hr />

    <div class={{style.item}}>
      <div class={{style.key}}>
        Фамилия
      </div>
      <div class={{style.value}}>{{surname}}</div>
    </div>
    <hr />

    <div class={{style.item}}>
      <div class={{style.key}}>
        Имя в чате
      </div>
      <div class={{style.value}}>{{nickname}}</div>
    </div>
    <hr />

    <div class={{style.item}}>
      <div class={{style.key}}>
        Телефон
      </div>
      <div class={{style.value}}>{{phone}}</div>
    </div>
  </div>

  <div class="{{style.info}} {{style.actions}}">
    <div class={{style.item}}>
      <a href="/" class={{style.key}}>
        Изменить данные
      </a>
    </div>
    <hr />

    <div class={{style.item}}>
      <a href="/" class={{style.key}}>
        Изменить пароль
      </a>
    </div>
    <hr />

    <div class={{style.item}}>
      <a href="/" class="{{style.key}} {{style.red}}">
        Выйти
      </a>
    </div>
  </div>
</div>