<div class={{style.container}}>
  <div class={{style.bar}}>
    <a href="/messenger">
      <img src={{arrow}} alt="arrow" class={{style.arrow}} />
    </a>
  </div>
  <div class={{style.content}}>
    {{{content}}}
  </div>
</div>