<div class="{{style.container}}">
  <div class={{style.info}}>
    {{{email}}}
    {{{login}}}
    {{{first_name}}}
    {{{second_name}}}
    {{{display_name}}}
    {{{phone}}}
  </div>

  <div class="{{style.buttons}}">
    {{{saveButton}}}
    {{{backLink}}}
  </div>
</div>
