<div class={{style.container}}>
  <div class={{style.profile}}>
    Профиль
  </div>
  <div class={{style.search}}>
    Поиск
  </div>
  <ul class={{style.list}}>
    <hr />
    {{#each chats}}
      <li class={{style.item}}>
        <div class={{style.avatar}}></div>
        <div class={{style.message}}>
          <h3 class={{style.name}}>{{this.name}}</h3>
          <span class={{style.text}}>{{this.text}}</span>
        </div>
        <div class={{style.info}}>
          <p class={{style.time}}>{{this.time}}</p>
          <span class={{style.messageCount}}>{{this.unread}}</span>
        </div>
      </li>
      <hr />
    {{/each}}
</div>