<div class={{style.personalImage}}>
  <label>
    <input type="file" />
    <figure 
      {{#if isEmpty}}
        class="{{style.personalFigure}} {{style.noSrc}}"   
      {{else}}
        class={{style.personalFigure}}
      {{/if}}
    >
      <img 
      src={{src}}
        class={{style.personalAvatar}}   
        alt="avatar" />
      <figcaption class={{style.personalFigcaption}}>
        <p>Поменять <br> аватар</p>
      </figcaption>
    </figure>
  </label>
</div>